<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subcategory.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @subcategory.cost %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @subcategory.paid %>
</p>

<p>
  <strong>Event:</strong>
  <%= @subcategory.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @subcategory.user_id %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
