<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @subcategory.body %>
</p>

<p>
  <strong>Event:</strong>
  <%= @subcategory.event %>
</p>

<p>
  <strong>Event:</strong>
  <%= @subcategory.event_id %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
