<p id="notice"><%= notice %></p>



<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.profile_picture %></td>
  </tr>
<% end %>


