<%= render partial: "layouts/header" %>


<p id="notice"><%= notice %></p>



<% if current_user.admin? %>
  


<% @users.each do |user| %>
  <ul>
    <li><%= user.username %></li>
    <li><%= user.first_name %></li>
    <li><%= user.last_name %></li>
    <li><%= user.profile_picture %></li>
    <li><%= user.id %></li>
  </ul>
<% end %>

<% end %>
