<div id="eventsholder">
  <div class="row">

    <div class="small-6 centered small-offset-3 columns">
      <%= render partial: "layouts/header" %>
    </div>

    <div class="small-3 columns nomobile" id="profilecontainer">
      <p><%= @user.username %></p>
      <%= link_to image_tag(@user.profile_photo.thumb.url), @user.profile_photo.url %></br>
      <%= button_to 'Edit Profile', edit_user_registration_path(current_user), :method => :get, class: "btn" %>

    </div>

  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2 id="eventsheader">My Events</h2>
      <p id="notice"><%= notice %></p>
    </div>
  </div>






  <div class="row">
    <div class="small-12 columns">
      <table>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th class="nomobile">Location</th>
          <th class="nomobile">Description</th>
          <th class="nomobile">Calendar</th>
        </tr>

        <% @user.events.each do |event| %>
        <tr class="eventtable">
          <td><%= event.name %> <%= link_to '(See More)', event, :method => :get %></td>
          <td><%= event.date %></td>
          <td class="nomobile"><%= event.location %></td>
          <td class="nomobile"><%= event.body %></td>
          <td class="nomobile"><%= link_to 'Add to iCal',iCal_path(event) , :format => :ics %></td>
        </tr>

        <% end %>

      </table>
    </div>
  </div>

</div>




