<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Event ID:</strong>
  <%= @event.id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p> -->

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<h1>Comments</h1>

<% @event.comments.each do |comment| %>
  <h3><%= comment.name %></h3>
  <ul>
    <li><%= comment.user.username %>: <%= comment.body %></li>
  </ul>
<% end %>

<%= render 'comments/form', :locals => {:event => @event.id}%>




