<div id="events_container">

  <%= render partial: "layouts/header" %>

  <h3>
    <%= @event.name %>
  </h3>
  
  <div class="small-12 columns callout panel">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>

    <p>
      <strong>Details:</strong>
      <%= @event.body %>
    </p>


    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', users_path %>

</div>


<div class="row">
  <div class="small-12 medium-10 float-right columns subcatholder callout panel2">
    <div id="subcatheader">
      <h4>Subcategories</h4>
      <%= link_to 'Add New Subcategory', new_event_subcategory_path(@event) %>
    </div>
  </div>
</div>



<% @event.subcategories.each do |cat| %>
<div class="row">
  <div class="small-12 medium-10 float-right columns subcatholder callout panel2">
    <div class="row">
      <div class="small-6 columns border-right-sub">
        <h3><%= cat.name %></h3>
        <h6><%= cat.description %></h6>
      </div>
      <div class="small-6 columns">
        <h4>Cost: 

        <%- if cat.cost %>
        <%= num_to_currency(cat.cost) %>
        
        <% else %>
        No cost yet!
        <% end %>

        <%- if cat.paid == false %>
        <button class="btn">Pay Now</button>
        <% else %>
        <button class="btn">See Invoice</button>
        <% end %>
        </h4>

      </div>
    </div>




  </div>
</div>

<% end %>

</br>


<div id="comment_holder">
<h5>Comments</h5>

<% @event.comments.each do |comment| %>

<ul>
  <li><%= comment.user.username %>: <%= comment.body %></li>
</ul>

<% end %>

<%= render 'comments/form', :locals => {:event => @event.id}%>

</div>
</div>

