<div id="events_container">

  <%= render partial: "layouts/header" %>

  <h3>
    <%= @event.name %> Summary
  </h3>
  
  <div class="callout panel">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= @event.body %>
    </p>

    <p>
      <strong>Event ID:</strong>
      <%= @event.id %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= @event.image %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', users_path %>

</div>








<% @event.subcategories.each do |cat| %>
<div class="row">
  <div class="small-12 medium-10 float-right columns subcatholder callout panel2">
    <div class="row">
      <div class="small-12 columns">
        <h3><%= cat.name %></h3>
        <h6><%= cat.description %></h6>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h5>Cost: <%= num_to_currency(cat.cost) %></h5>

        <%- if cat.paid == false %>
        <%= button_to "Pay Now", new_password_path(resource_name), class: 'btn' %>
        <% end -%>


        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>

<% end %>

</br>


<h5>Comments</h5>

<% @event.comments.each do |comment| %>
<!-- <h3><%= comment.name %></h3> -->
<ul>
  <li><%= comment.user.username %>: <%= comment.body %></li>
</ul>

<% end %>

<%= render 'comments/form', :locals => {:event => @event.id}%>


</div>

