<div class="login-container">

  <div class="row">

    <div class="small-12 medium-4 columns">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

      <div class="small-12 medium-4 columns">
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
  


    <div class="small-12 medium-4 columns">
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <% end %>

    </div>
</div>

</div>


<%= render partial: "layouts/header2" %>

<div class="row">
  <div id = "header_title" class="small-6 columns small-offset-3">
    <h4>Creative and elegant event design and planning.</h4>
  </div>
</div>



<div id ="frontbanner">

  <div class="row">
   <div id="frontbannertext1" class="small-9 small-centered columns">
    <h2>Little To Large is a small, family run company which can assist you in all aspects of your event, from just decorations to planning an entire event.</h2>


   </div>
  </div>
  
</div>

<div id="frontdetails">
  <div class="row">
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('bunting.png') %> <h4>Hanging Decorations</h4></div>
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('cake.png') %> <h4>Cakes and Biscuits</h4></div>
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('envelope.png') %> <h4>Home-made cards</h4></div>
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('happybday.png') %> <h4>Balloons</h4></div>
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('lollipop.png') %> <h4>Sweets</h4></div>
    <div class="small-12 medium-6 large-4 columns end"><%= image_tag ('partypopper.png') %> <h4>Toys</h4></div>
  </div>
</div>




<div id ="frontbanner2">

  <div class="row">
   <div id="frontbannertext2" class="small-9 small-centered columns">
    <h3>We believe the little details make a huge difference and we pride ourselves on our attention to detail.</h3></br>
    <h3>Register for free today and start planning your dream event.</h3></br>


   </div>
  </div>
  
</div>



