<div class="row">
  <div class="small-6 columns small-offset-3">
    <img id="logoimg" src="images/final-logo.png">
  </div>
</div>

<div class="row">
  <div id = "header_title" class="small-6 columns small-offset-3">
    <h4>Family-run service for any size event</h4>
  </div>
</div>



<div id ="frontbanner">

  <div class="row">
   <div id="frontbannertext" class="small-9 small-centered columns">
    <h2>More stuff about the website and what it does, </br>
    Also more stuff here.</h2>


   </div>
  </div>
  
</div>

<div id="frontdetails">
  <div class="row">
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('bunting.png') %> <h6>Example Text</h6></div>
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('cake.png') %> <h6>Example Text</h6></div>
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('envelope.png') %> <h6>Example Text</h6></div>
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('happybday.png') %> <h6>Example Text</h6></div>
    <div class="small-12 medium-6 large-4 columns"><%= image_tag ('lollipop.png') %> <h6>Example Text</h6></div>
    <div class="small-12 medium-6 large-4 columns end"><%= image_tag ('partypopper.png') %> <h6>Example Text</h6></div>
  </div>
</div>

<div id ="frontbanner2">

  <div class="row">
   <div id="frontbannertext" class="small-9 small-centered columns">
    <h3>Need Inspiration?</h3>
    <h5>Some Event Ideas for you;</h5>


   </div>
  </div>
  
</div>



